<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.advertising.screen.myadvertising"
    android:sharedUserId="android.uid.system">

    <!--    &lt;!&ndash;&ndash;&gt;android:sharedUserId="android.uid.system"-->

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> -->

    <!-- 在sdcard中创建/删除文件的权限 -->
    <permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" /> <!-- 息屏不被锁死 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".func.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:icon,roundIcon，android:allowBackup,android:theme,android:name">

        <activity
            android:name=".mvvm.main.ui.MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

 <!--       <activity
            android:name=".activity.DataFlushActivity"
            android:theme="@style/dialog1"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" /> -->
        <!-- <activity android:name=".ScreenActivity"/> -->
        <!-- <activity android:name=".download.ApkUpdateActivity"/> -->
        <!-- <service android:name=".net.retrofit.DownloadApkService"/> -->

        <service android:name=".func.service.DownloadApkService" />
        <activity android:name=".mvvm.main.ui.TestActivity"/>

        <service
            android:name=".func.service.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

 <!--       <service
            android:name=".func.service.WorkService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService" />-->

        <receiver
            android:name=".func.BootBroadcastReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <!-- 注册开机广播地址 -->
                <action android:name="com.axecom.destroy" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>